@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-menu, .icon-facebook, .icon-twitter, .icon-mobile, .icon-tablet, .icon-bubbles, .icon-lock, .icon-arrow-left, .icon-arrow-right, .icon-download, .icon-trophy, .icon-stats, .icon-history, .icon-tree, .icon-settings, .icon-connection, .icon-envelop, .icon-loop, .icon-star, .icon-question, .icon-phone, .icon-search, .icon-cogs, .icon-share {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-menu:before {
	content: "\e001";
}
.icon-facebook:before {
	content: "\e000";
}
.icon-twitter:before {
	content: "\e002";
}
.icon-mobile:before {
	content: "\e005";
}
.icon-tablet:before {
	content: "\e006";
}
.icon-bubbles:before {
	content: "\e007";
}
.icon-lock:before {
	content: "\e008";
}
.icon-arrow-left:before {
	content: "\e009";
}
.icon-arrow-right:before {
	content: "\e00a";
}
.icon-download:before {
	content: "\e003";
}
.icon-trophy:before {
	content: "\e004";
}
.icon-stats:before {
	content: "\e00b";
}
.icon-history:before {
	content: "\e00c";
}
.icon-tree:before {
	content: "\e00d";
}
.icon-settings:before {
	content: "\e00e";
}
.icon-connection:before {
	content: "\e00f";
}
.icon-envelop:before {
	content: "\e012";
}
.icon-loop:before {
	content: "\e013";
}
.icon-star:before {
	content: "\e014";
}
.icon-question:before {
	content: "\e016";
}
.icon-phone:before {
	content: "\e010";
}
.icon-search:before {
	content: "\e011";
}
.icon-cogs:before {
	content: "\e017";
}
.icon-share:before {
	content: "\e015";
}
