/// DEFUALTS ///
html, body {font-size:100%; line-height:1.8; color:$text-color;}
h1, h2, h3, h4, h5, h6 {color:$heading-color; margin-top:0;}
p, ul, ol, blockquote {margin:0 0 em(30px) 0;}
ul ul, ol ol {margin:0}
a {color:$link-color;}
a:hover {color:$hover-color;}
a:visited {color:lighten($link-color, 20%);}
blockquote {font-style:italic; font-size:120%; padding:0 em(20px);}

/// EXTENSIONS ///
.list-reset {margin:0; padding:0; list-style:none;}
.clearfix {*zoom:1;
    &:before, &:after {content: " "; display: table;}
    &:after {clear: both;}
}
.title-link a {color:inherit; text-decoration:none;}
.title-link a:hover {text-decoration:underline;}

/// HEADER ///


/// MAIN NAV ///


/// FOOTER ///


/// BUTTONS ///
.btn {display:inline-block; text-decoration:none; @include transition(all .15s ease);}
.btn-expand {width:100%; display:block; text-align:center; max-width:100%;}

/// ICONS ////

/// MISC ///
.vertical-center-table {display:table; height:100%; width:100%;}
.vertical-center-cell {display:table-cell; vertical-align:middle;}

/// TEXT ALIGN ///
.medium-text-left {@include breakpoint($break-medium) {text-align:left!important;}}
.medium-text-right {@include breakpoint($break-medium) {text-align:right!important;;}}
.medium-text-center {@include breakpoint($break-medium) {text-align:center!important;;}}
.large-text-left {@include breakpoint($break-large) {text-align:left!important;;}}
.large-text-right {@include breakpoint($break-large) {text-align:right!important;;}}
.large-text-center {@include breakpoint($break-large) {text-align:center!important;;}}